<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Login - Wine Links</title>
    <link rel="stylesheet" href="login.css" />
</head>

<body class="login-body">
    <div class="login-container">
        <h1>Login</h1>
        <form action="/login" method="POST">
            <input type="text" name="usernameOrEmail" placeholder="Username or Email" required/>
            <div class="password-wrapper">
                <input type="password" name="password" id="login-password" placeholder="Password" required />
                <label class="show-password-label">
                    <input type="checkbox" id="show-password-checkbox"> Show Password
                </label>
            </div>

            <button type="submit"><strong>Login</strong></button>
            <p id="error-message" class="error-message"></p>


            <p class="login-link">Don't have an account? <a href="../signup/signup.html">Sign Up</a></p>
        </form>
    </div>

    <script type="module" src="login.js"></script>
    <div id="footer-container"></div>

</body>

</html>